.App {
    .content {
        width: 590px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 108px;
        left: 283px;

        .pieces {
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            border-right: 1px solid rgba(1, 1, 1, 0);
            border-top: 1px solid rgba(1, 1, 1, 0);

            .dots {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin: 2px auto;
            }

            .black {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin: 2px auto;
                color: white;
                background-color: black;
            }

            .white {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin: 2px auto;
                background-color: white;
            }

            .p {
                font-size: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    // }


}